@import 'materialize-css/sass/materialize.scss';

#app {
  padding-top: 50px;
  height: 100%;
}

#map {
  margin: -10px -15px 0 0;
  flex-grow: 1;
  height: calc(100vh - 50px);
  position: relative;
}

.main {
  display: flex;
  height: auto;
  min-height: calc(100vh - 50px);
}

.content {
  width: calc(100% - 110px);
  padding: 10px 15px 0;
  background: url('~@images/profile-page-bg.jpg') top;
  background-size: cover;

  &__wrapper {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
    max-width: 1240px;
  }
}

.online::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 5px;
  border-radius: 50%;
  background-color: #4caf50;
}

.offline::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 5px;
  border-radius: 50%;
  background-color: #e53935;
}

button {
  border-width: 0;
  border-style: none;
  border-color: transparent;
  border-image: none;
}

// COLORS
$blue: #33afe0;
$darkblue: #252d3a;
$green: #2ab7a9;

p {
  color: rgba($darkblue, 0.8);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5em;
}

h1 {
  color: #252d3a;
  font-size: 30px;
  font-weight: 600;
  line-height: 1.2em;
}

.main-header {
  color: #252d3a;
  font-size: 30px;
  font-weight: 600;
  line-height: 1em;
  padding: 40px 15px 30px;
  background-color: rgba(#fff, 0.5);
  text-align: center;
  margin: -15px -10px 20px;
}

.main-card {
  background-color: #f7f8fa;
  text-align: left;
  width: 100%;
  border-radius: 3px;
  box-shadow: 20px 0 40px rgba(74, 77, 101, 0.2);

  &__heading {
    color: #252d3a;
    font-size: 14px;
    line-height: 1em;
    font-weight: 600;
    margin-bottom: 0;
    padding: 32px 15px 31px;
    box-shadow: 0 20px 40px rgba(89, 100, 191, 0.1);
    border-radius: 3px 3px 0 0;
    text-align: center;
  }

  &__wrap {
    background-color: #f7f8fa;
    margin-bottom: 35px;
    width: 100%;
    border-radius: 3px;
    box-shadow: 20px 0 40px rgba(74, 77, 101, 0.2);
  }

  &__body {
    padding: 15px;
    text-align: center;
  }
}

.main-btn {
  display: inline-block;
  padding: 15px 23px 15px;
  margin: 0 10px;
  border-radius: 3px;
  background-color: $blue;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  line-height: 1em;
  letter-spacing: 0.6px;
  cursor: pointer;
  transition: background-color 0.15s linear;

  &:hover {
    background-color: $darkblue;
  }
}
