* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// What alternative for this
html,
body,
#app {
  height: 100%;
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

img {
  height: 100%;
}
