* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// What alternative for this
html,
body,
#app,
.menu,
.main {
  min-height: calc(100vh - 50px);
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

img {
  height: 100%;
}

h1 {
  text-transform: uppercase;
  font-size: 1.5em;
}
