.trip-info {
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;

  & > * {
    padding: 10px;
  }

  &_title {
    padding-bottom: 0;
    outline: none;
  }

  &_icon {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  &_radius {
    width: 100%;
    background-color: #252d3a;
    color: white;
    padding: 10px 15px 0;
    text-align: center;
    text-transform: uppercase;

    input[type="range"] {
      border: none;
      color: white;
      margin-top: 0;

      &::before {
        content: "-";
        display: inline;
        margin-right: 10px;
      }

      &::after {
        content: "+";
        display: inline;
        margin-left: 10px;
      }
    }

    &_input {
      width: 100%;
    }
  }
}
