.sidebar {
  min-height: calc(100vh - 50px);
  width: 300px;
  z-index: 1;
  /* stylelint-disable */
  box-shadow: 7px 0px 35px -1px rgba(122, 118, 122, 1);
  /* stylelint-enable */
}

.trip-point {
  &:not(:last-child) {
    border-bottom: none;
  }
}
