.FormCenter {
  margin-bottom: 50px;
}

.FormField {
  margin-bottom: 20px;

  &__Label {
    display: block;
    text-transform: uppercase;
    font-size: 0.9em;
    color: white;
  }

  &__Input {
    width: 85%;
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    border-bottom: 1px solid #445366;
    font-size: 1em;
    font-weight: 300;
    padding-bottom: 10px;
    margin-top: 10px;

    &::placeholder {
      color: #616e7f;
    }
  }

  &__Button {
    background-color: #52c4b9;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 25px;
    padding: 15px 70px;
    font-size: 0.8em;
    font-weight: 500;
  }

  &__Link {
    color: #66707d;
    text-decoration: none;
    display: inline-block;
    border-bottom: 1.5px solid #225e62;
    padding-bottom: 5px;
  }

  &__CheckboxLabel {
    color: #646f7d;
    font-size: 0.9em;
  }

  &__Checkbox {
    position: relative;
    top: 1.5px;
  }

  &__TermsLink {
    color: white;
    border-bottom: 1px solid #199087;
    text-decoration: none;
    display: inline-block;
    margin-left: 5px;
  }
}
