.search-route {
  min-height: calc(100vh - 50px);
  margin: -10px -15px;
  padding-bottom: 40px;
  text-align: center;
  background: url('~@images/profile-page-bg.jpg') top;
  background-size: cover;

  &__header {
    color: #252d3a;
    font-size: 30px;
    font-weight: 600;
    line-height: 1em;
    padding: 40px 15px 30px;
    background-color: rgba(#fff, 0.5);
    margin-bottom: 20px;
    margin-top: 0;
  }
}

.sr-wrap {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  padding: 0 15px;
  max-width: 1240px;
}

.search-route-start {
  box-shadow: 0 20px 40px rgba(89, 100, 191, 0.1);
  border-radius: 3px 3px 0 0;
  background-color: #fff;
  padding: 55px 15px;
}

.sr-inner {
  box-shadow: 20px 0 40px rgba(74, 77, 101, 0.2);
  border-radius: 3px;
  background-color: #f7f8fa;
}

.srs-h {
  color: #252d3a;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 35px;
}

.sr-form-wrap {
  max-width: 680px;
  margin: 0 auto;
  padding: 0 15px;
}

.search-start__btn-submit {
  display: inline-block;
  padding: 15px 40px 14px;
  margin: 0 10px;
  border-radius: 3px;
  background-color: #33afe0;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  line-height: 1em;
  letter-spacing: 0.6px;
  cursor: pointer;
  transition: background-color 0.15s linear;

  &:hover {
    background-color: #252d3a;
  }
}

.search-start__col {
  width: calc(50% - 30px);
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 20px;
}

.geosuggest__suggests {
  position: absolute;
  top: calc(100% - 4px);
  left: 0;
  right: 0;
  max-height: 25em;
  padding: 0;
  margin-top: -1px;
  background: #fff;
  border: 1px solid #33afe0;
  border-top-width: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  list-style: none;
  z-index: 5;
  -webkit-transition: max-height 0.2s, border 0.2s;
  transition: max-height 0.2s, border 0.2s;
}

.geosuggest__suggests--hidden {
  max-height: 0;
  overflow: hidden;
  border-width: 0;
}

.geosuggest__item {
  font-size: 18px;
  font-size: 1rem;
  padding: 0.5em 0.65em;
  cursor: pointer;
  text-align: left;
  transition: bachground-color 0.2s ease-in-out;
}

.geosuggest__item:hover,
.geosuggest__item:focus {
  background-color: #f5f5f5;
}

.geosuggest__item--active {
  background-color: #33afe0;
  color: #fff;
}

.geosuggest__item--active:hover,
.geosuggest__item--active:focus {
  background-color: #ccc;
}

.geosuggest__item__matched-text {
  font-weight: bold;
}

.spinner-mainBlue {
  border-color: #33afe0;
}

.search-route-result {
  position: relative;
  min-height: 150px;
  padding: 30px 15px;
}

.absolute-spinner-wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(#f7f8fa, 0.9);
}

.absolute-spinner {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
}

.route__userpic {
  border-radius: 100%;
  width: 70px;
  max-width: 70px;
  display: block;
  height: auto;
  margin: 0 15px;
}

.datepicker-date-display {
  background-color: #252d3a;
}

.datepicker-table td.is-selected {
  background-color: #33afe0;
}

.datepicker-day-button:focus {
  background-color: rgba(#33afe0, 0.25);
}

.modal-overlay {
  background-color: #252d3a;
}

.route-card-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  right: 90px;
  transform: translate(0, -50%);
  width: 50px;
  height: 50px;
  border-radius: 3px;
  background-color: #33afe0;
  transition: transform 0.2s ease-in-out;

  &::before {
    content: '';
    display: block;
    width: 8px;
    height: 14px;
    background: url('~@images/arrow-right.svg') center;
  }
}

.active-route-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 850px;
  box-shadow: 0 20px 40px rgba(89, 100, 191, 0.1);
  border-radius: 2px;
  background-color: #fff;
  margin: 0 auto 5px;
  padding: 32px 150px 32px 90px;
  position: relative;
  text-align: left;

  &:hover {
    .route-card-btn {
      transform: translate(5px, -50%);
    }
  }
}

.route-card-inner1 {
  width: calc(100% - 150px);
}

.route-card-inner2 {
  width: 150px;
}

.route-card-points {
  color: #333;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.5em;
  margin-bottom: 0;
}

.route-card-date {
  color: #333;
  font-size: 15px;
  font-weight: 600;
  line-height: 1.4em;
  margin-bottom: 5px;
}

.route-card-name {
  color: #252d3a;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.2em;
}

.route-card-rating {
  color: #33afe0;
  font-size: 22px;
  font-weight: 600;
  line-height: 1.5em;
  letter-spacing: 1px;
}

.route-card-sec {
  color: rgba(#252d3a, 0.8);
  font-size: 14px;
  font-weight: 600;
  line-height: 1.2;
}

.route-card-price {
  display: inline-block;
  margin-right: 5px;
  color: #33afe0;
  font-size: 30px;
  font-weight: 600;
  line-height: 1.1em;
  letter-spacing: 1.5px;
}

.route-card-currency {
  color: #333;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.5em;
}

.route-card-seats {
  color: #333;
  font-size: 15px;
  font-weight: 600;
  line-height: 1.5em;
}

.mb5 {
  margin-bottom: 5px;
}

.filter-card {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 15px;
  max-width: 850px;
  margin: 0 auto 30px;
  position: relative;
  text-align: left;
}

.filter-card-p {
  width: 100%;
  color: #252d3a;
  font-size: 14px;
  line-height: 1.2em;
  font-weight: 600;
  padding-bottom: 15px;
  padding-left: 15px;
}

.filter-card-input-wrap {
  width: calc(25% - 30px);
  margin: 15px;

  @media (max-width: 767px) {
    width: 100%;
  }
}
