// ########################################################
// This style is exemple. Please delete it after logo change.
// ########################################################
.logo {
  font-size: 14px;
  font-weight: 700;
  line-height: 1em;
  letter-spacing: 2.8px;
  color: #fff;
}
