// ########################################################
// This style is exemple. Please delete it after logo change.
// ########################################################
.logo {
  display: block;

  img {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
