.trip-point {
  margin: 0;

  &_item {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  &_title {
    font-size: 1.28em;
  }

  .btn-floating {
    text-align: center;
  }
}
