.trip-map {
  width: 80%;
  height: 200px;
  margin: 0 auto;
  background-color: aquamarine;
}

ul {
  padding: 0;
}

li {
  position: relative;
  list-style: none;
  display: inline-block;
  padding: 0.25rem 0.75rem;
  margin: 2px;
  border-radius: 3px;
}

li:hover {
  cursor: pointer;
}

li.filteredItem {
  background: #a0cfee;
  color: #16527a;
}

li.filteredItem:hover {
  background: #8bc4ea;
}
