.main-trip {
  background: url('~@images/profile-page-bg.jpg') top;
}

div.search {
  margin: 0 auto;
  margin-bottom: 50px;
  width: 70%;
  background-color: lightyellow;
}

div.search > form {
  display: flex;
  flex-direction: row;
}

div.search > form > input {
  width: 50%;
}

div.search > form > button {
  text-align: center;
  height: 45px;
}

.data {
  border: 2px solid black;
  margin-bottom: 50px;
}
